
.button {
   -fx-text-fill: white;
   -fx-font-family: "Arial Narrow";
   -fx-font-weight: bold;
   -fx-background-color: linear-gradient(#61a2b1, #2A5058);
   -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}
.button:hover {
   -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.list-cell:empty{
	-fx-background-color: white;
}
.list-cell:empty .list-cell {
    -fx-border-width: 0px;
}